################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ecommerce.application/obj
/ecommerce.core/obj
/ecommerce.domain/obj
/ecommerce.infrastructure/obj
/ecommerce.web/obj
/ecommerce.core/bin/Debug/net8.0
/ecommerce.infrastructure/bin/Debug/net8.0
/ecommerce.persistence/obj
/ecommerce.domain/bin/Debug/net8.0
/.vs/
/.vs/**
/ecommerce.specification/obj/Debug/net8.0
/ecommerce.specification/obj
/ecommerce.specification/bin/Debug/net8.0
/ecommerce.application/bin/Debug/net8.0
/ecommerce.persistence/bin/Debug/net8.0
/ecommerce.web/bin/Debug/net8.0
